.movieCard {
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    width: 175px;
    /* min-width: 0;
    overflow: auto; */
    margin: 40px 20px;
    -webkit-box-shadow: 5px 5px 15px 5px #555454; 
    box-shadow: 5px 5px 15px 5px #555454;
    justify-self: center;
    align-content: center;
    transition: .2s;
}

.movieCard:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.movieCardHeading {
    text-align: center;
}

.movieCardImg {
    width: 160px;
    height: 250px;
    margin: 5px;
    border-radius: 10px 5px;
}