.navBarHeader {
    background-color: black;
    padding-bottom: 10px;
}

h1 {
    padding: 0px;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 150px;
    margin: 0px;
}

.nav {
    text-align: center;
    font-size: 35px;
}   

li {
    list-style-type:none;
    display: inline;
    margin: 10px 30px;
    text-decoration: none;
}

li > a {
    color: white;
    text-decoration: none;
}